<body>

<p class="notice"><%= notice %></p>
<div class="container">
  <h1>Relação de Livros</h1>
  
  <div class="books-columns">
    <div class="column">
      <% @books.each_with_index do |book, index| %>
        <% if index.even? %>
          <%= render book %>
          <p>
            <%= link_to "Mostre-me este livro", book_path(book) %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="column">
      <% @books.each_with_index do |book, index| %>
        <% if index.odd? %>
          <%= render book %>
          <p>
            <%= link_to "Mostre-me este livro", book_path(book) %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="button-container">
  <%= link_to "Cadastrar Livro", new_book_path, class: "btn btn-secondary" %>
</div>

<footer>
  <p>Página Index.html.erb</p>
</footer>
 
</body>
</html>