<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Editar esse Livro", edit_book_path(@book)  %> 
  
  <%= link_to "Voltar para Livros", books_path %>

  <%= button_to "Apagar este Livro", @book  %>
</div>


<footer>
    <p>Página show.html.erb</p>
</footer>
 