<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.85">
  <title>Sua Página</title>
  <link rel="stylesheet" href="styles.css"> 
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body style="width: 95%; margin: 0 auto;">
  
  <header>
  <nav class="nav">
    <ul>
      <li><%= link_to "Página Inicial", root_path %></li>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</header>
    <%= yield %>
  </body>
</html>
